.body{
    background: url("../assets/Android hd wallpapers.jpeg") #5BC6FB;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.chat-container{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 40px;
    width: 100%;
    height: 100vh;
    z-index: -1000;
}
.inner-chat{
    width: 500px;
    margin-top: 20px;
    z-index: 1000;
    height: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    overflow-y: auto;
    padding-right: 40px;
    padding-left: 40px;
}
#send-message-form {

    position: absolute;
    bottom: 0;
    width: 500px;
    margin-bottom: 35px;
}
.send-message{
    display: flex;
    align-items: flex-end;
    margin-top: -20px;
}
#msg-input{
    margin-top: 20px;
    color: #000;
    background: rgba(237, 234, 234, 0.9);
    border: none;
    /* border-radius: 5px; */
    width: 100%;
    height: 30px;
    padding: 7px;
}
#send-message-form button{
    height: 45px;
    padding: 10px;
    background-color: #1c1c1c;
    color: #dfdfdf;
    border: none;
    width: 90px;
    cursor: pointer;
}
.inner-chat .unit-message{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.emoji{
    margin-right: 20px;
    margin-top: -1px;
    background-color: #fff;
    padding: 2px;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    box-shadow: 1px 1px 1px 1px rgba(237, 234, 234, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg{
    background-color: #fff;
    max-width: 80%;
    padding: 4px;
    border-radius: 7px;
    min-width: 5%;
    height: fit-content;
}
.msg div{
    margin:0 auto
}
.msg-reply{
    background-color: #666;
    color: #fff;
    border-radius:4px;
    padding:2px
}
.unit-message button{
    height: 20px;
    width: 20px !important;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    margin-top: 1px;
    margin-left: 2px;
    cursor: pointer;
    float: right;
}
.unit-message img{
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}
.new-chat-link{
    position: absolute;
    right: 0;
    background-color: #c4b;
    margin: 12px;
    padding: 4px;
    top: 0;
}
.new-chat-link a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

}
.no-message{
    margin-top: 150px;
}
.no-message h1, .no-message h3{
    font-family: cursive;
    text-align: center;
}
.no-message h3 a {
    z-index: 1000;
}
.inner-chat .older-messages{
    display: flex;
    justify-content: center;
    z-index: 1000000000000;
}
#reply-msg{
    /* width: 500px; */
    background-color: #333;
    color: #fff;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    border-radius: 7px 7px 0px 0px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#reply-msg button{
    width: 4px;
    height: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 50%;
}
#reply-msg p{
    height: min-content;
    margin: 0;
}
#img-upload{
    display: none;
}
#upload-icon{
    cursor: pointer;
    display: none;
}
.preview-image{
    width: fit-content;
    height: auto;
    background-color: rgba(136, 136, 136, .8);
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.preview-image img{
    width: 180px;
    height: auto;
    margin-top: 20px;
    
}
.preview-image button{
    width: 4px !important;
    height: 4px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
@media(max-width:900px){
    #send-message-form{

        position: absolute;
        bottom: 0;
        width: 90vw;
        margin-bottom: 120px;
    }
    #reply-msg{
        /* width: 90vw; */
        height: max-content;
    }
 
    .inner-chat{
        width: 100%;
        margin-top: 0px;
        z-index: 1000;
        height: 65vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        overflow-y: auto;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #msg-input{

        /* border-radius: 5px; */
        /* width: 50%; */
        height: 30px;
        padding: 7px;
    }
}

@media(max-width:600px){
    #send-message-form{

        position: absolute;
        bottom: 0;
        width: 90vw;
        margin-bottom: 200px;
    }
    .unit-message img{
        width: 80%;
    }
}

#spinner{
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
}

#spinner .spin{
    width: 20%;
    height: 20%;
    
}
.spin__{
    animation: spin 1.7s linear infinite;
}

@keyframes spin {

    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }